<a href="/">Home page</a>
<h3>Authorization</h3>
<input type="text" id="name" name="name" required minlength="2" maxlength="10" size="14" />
<br />
<input type="text" id="password" name="password" required minlength="2" maxlength="12" size="14" />
<br />
<button class="btn btn-primary" @onclick="Click"> Authorizations</button>
@code {
    private void Click()
    {
        
    }
}
